// LOGO STYLES
.takeit_logo_cont {
	display: flex;
	width: 200px;
	height: 125px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

//Title styles

.takeit_title_cont {
	display: flex;
	width: 100%;
	padding: 2rem 0;

	justify-content: center;
	align-items: center;
	h3 {
		font-size: 2.125rem;
		font-weight: 700;
		color: var(--color-font-secondary);
		font-family: TakeIt;

		b {
			color: var(--color-secondary-2-darker);
		}
	}
}

.xs {
	display: flex;
	width: 200px;
	padding: 0;
	h3 {
		font-size: 1.825rem;
		color: var(--color-grayscale-4);
	}
}
